[Desktop Entry]
Name=Roblox Launcher
Comment=Frontend comunitario para Roblox en Linux
Exec=roblox-launcher
Terminal=false
Type=Application
Categories=Game;
